<form method="POST" action="/access/login">
  <p>Sign in here.</p>
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit">
</form>

<form method="POST" action="/access/create">
  <p>Create new account here.</p>
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit">
</form>