 <div class="container">

 <% if current_user %>
    <form action = '/post' method='GET'> 
      <input type='submit' value = 'Submit Post'> 
    </form> 
  <% else %> 
    <a href='/access'>Log in or Create account here.</a>
  <% end %>



<div>

  <ol>
  
<% @posts.each do |post| %>
  <li><a href="http://<%=post.body %>"><%=post.title%></a>
    <a href="/comments/post/<%=post.id%>">Comments</a></li>
<% end %>
</ol>
