<form method="POST" action="/">
  <p>Enter your post here.</p>
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit">
</form>